weblauncher/docs/IWWEM-patterns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://www.cnio.es/scombio/jmfernandez/inb/IWWEM/frontend/patterns"
    elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:pat="http://www.cnio.es/scombio/jmfernandez/inb/IWWEM/frontend/patterns"
>
    <xsd:annotation>
        <xsd:documentation><![CDATA[$Id$

This file is part of IWWE&M, the Interactive Web Workflow Enactor & Manager.

IWWE&M is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IWWE&M is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with IWWE&M.  If not, see <http://www.gnu.org/licenses/agpl.txt>.

Original IWWE&M concept, design and coding done by José María Fernández González, INB (C) 2008.
Source code of IWWE&M is available at http://trac.bioinfo.cnio.es/trac/iwwem

This schema is used to hold the information about the usable
recognition patterns. These patterns can be either RE (for raw text)
or XPath expressions (for XML).

Interactive Web Workflow Enactor & Launcher has been created by
José María Fernández González, 2007-2008, for
INB (http://www.inab.org/).

Java backend modules have been made in Java and use Taverna core
libraries. The initial seed of that code came from Taverna example
called "workflowlauncher".

Perl frontend modules have been made in Perl. They use various standard
Perl libraries and LockNLog library, created in the context of iHOP
web services by José María Fernández González, 2007.]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="patternType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Type used by expression and extractionStep]]></xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="1" maxOccurs="1">
            <xsd:element name="reExpression" type="xsd:string" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[A regular expression pattern]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="xpath" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[An XPath expression, which needs]]></xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                        <xsd:element name="nsMapping" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation><![CDATA[The namespace prefix declaration]]></xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="ns" type="xsd:anyURI" use="required"/>
                                <xsd:attribute name="prefix" type="xsd:string" use="required"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="expression" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="encoding" use="optional" default="raw">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
    The encoding of the extracted content, so if it is base64 encoded, it can
be decoded later.
]]></xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="raw"/>
                    <xsd:enumeration value="base64"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <!--        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="namespace" use="required">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
    A pattern namespace, which can be either 're' or 'xpath'
]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="re"/>
                            <xsd:enumeration value="xpath"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
                
            </xsd:extension>
        </xsd:simpleContent>
-->    </xsd:complexType>
    
    <xsd:complexType name="MIMEComplexType">
        <xsd:attribute name="type" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[A MIME type]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="IWWEMpatterns">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    The element whose children are the usable recognition patterns.
They are very useful when you are analyzing any (intermediate) result
of an enaction, because they help extracting and labeling embedded
information.
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="1">
                <xsd:element name="detectionPattern" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
    A recognition/detection/extraction pattern. It is applied in two steps.
First one, at least one of the input MIME types must match with at least one
of the detectable MIME types.
Second one, the detection pattern must match the content.
Once these two steps are fulfilled, the extraction patterns are
applied on the patterned subsets.
]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence minOccurs="1" maxOccurs="1">
                            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    Textual description of what this detection pattern recognizes
and what it is obtained/extracted.
]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="applyToMIME" type="pat:MIMEComplexType" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
    The detection can be done only on these MIME types.
]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="expression" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[A detection pattern expression]]></xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:complexContent>
                                        <xsd:extension base="pat:patternType">
                                            <xsd:attribute name="dontExtract" type="xsd:boolean" use="optional" default="false">
                                                <xsd:annotation>
                                                    <xsd:documentation><![CDATA[If match happens, do we use the whole information or only the matched one?]]></xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:attribute>
                                        </xsd:extension>
                                    </xsd:complexContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="extractionStep" minOccurs="1" maxOccurs="unbounded" type="pat:patternType">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[
A extraction pattern expression, which is applied over the occurrences
got from the detection pattern]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="assignMIME" type="pat:MIMEComplexType" minOccurs="1" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[These MIME types will be attached to the extracted information]]></xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="name" use="required" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation><![CDATA[Symbolic detection name]]></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="gotLinks" use="optional" type="xsd:boolean" default="false">
                            <xsd:annotation>
                                <xsd:documentation><![CDATA[Does this detection pattern get links to data, instead of raw data?]]></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="detectionPatternNameUnique">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
    There should not be two detection patterns with the same
symbolic name.
]]></xsd:documentation>
            </xsd:annotation>
            <xsd:selector xpath="detectionPattern"></xsd:selector>
            <xsd:field xpath="@name"></xsd:field>
        </xsd:unique>
    </xsd:element>
</xsd:schema>
