weblauncher/IWWEM-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://www.cnio.es/scombio/jmfernandez/taverna/inb/frontend"
    elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:iwwem="http://www.cnio.es/scombio/jmfernandez/taverna/inb/frontend"
>
    <xsd:annotation>
        <xsd:documentation><![CDATA[This schema was designed to model
the messages between frontend modules and AJAX layer of
INB Web Workflow Launcher.

INB Web Workflow Launcher has been created by
José María Fernández González, 2007-2008, for
INB (http://www.inab.org/).

Java backend modules have been made in Java and use Taverna core
libraries. The initial seed of that code came from Taverna example
called "workflowlauncher".

Perl frontend modules have been made in Perl. They use various standard
Perl libraries and LockNLog library, created in the context of iHOP
web services by José María Fernández González, 2007.]]></xsd:documentation>
    </xsd:annotation>
    
    <xsd:simpleType name="EnactionStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="queued">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction job has not started yet, and it is waiting its turn]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="running">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction job is currently running]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="finished">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction job has successfully finished]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="error">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction job has finished with error]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="dead">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction job unexpectedly died]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="fatal">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[It happened a recoverable internal fatal error while processing job status]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="unknown">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[There is no known enaction job with this ID]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="disposed">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The former enaction job with this ID has been disposed]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="EnactionStepStatusType">
        <xsd:restriction base="iwwem:EnactionStatusType">
            <xsd:enumeration value="queued">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction step has not started yet, and it is waiting its turn]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="running">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction step is currently running]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="finished">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction step has successfully finished]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="error">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The enaction step has finished with error]]></xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="IODesc">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Generic complex type for input & output descriptions]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[Available documentation related to this input/output. It might be in HTML]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mime" type="xsd:string" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The associated mime/types to this input/output]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="IORepType">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[The name of this input, output or step]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <xsd:element name="example">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Input examples, in baclava format]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="uuid" type="xsd:string" use="required"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="path" type="xsd:anyURI" use="required"/>
                    <xsd:attribute name="date" type="xsd:dateTime" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="snapshot">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Snapshots from workflow executions]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="uuid" type="xsd:string" use="required"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="date" type="xsd:dateTime" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="examples">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    Examples catalog
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="1">
                <xsd:element ref="iwwem:example" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="snapshots">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
    Snapshots catalog
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="1">
                <xsd:element ref="iwwem:snapshot" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="workflow">
        <xsd:annotation>
            <xsd:documentation><![CDATA[The description of a particular workflow]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="1">
                <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[Available documentation related to the workflow. It might be in HTML]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="graph" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[Graphical representation of the workflow, relative to the workflow home]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:anyURI">
                                <xsd:attribute name="mime" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:documentation><![CDATA[MIME type of this graph image]]></xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:extension>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="dependsOn" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
The subworkflows' this workflow depends on...
]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="dep" type="xsd:anyURI" use="required">
                            <xsd:annotation>
                                <xsd:documentation><![CDATA[
The relative URI to the subworkflow
]]></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="input" minOccurs="0" maxOccurs="unbounded" type="iwwem:IODesc">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[The set of inputs of the workflow.
The workflow can zero inputs when it is a self-contained,
demonstration or test workflow.]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="output" minOccurs="0" maxOccurs="unbounded" type="iwwem:IODesc">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[The set of outputs of the workflow.
There should be at least one output, but a workflow developer can 'forget'
creating it when it is more interested in side-effects than in the generated
results.]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="iwwem:example" minOccurs="0" maxOccurs="unbounded"/>
                
                <xsd:element ref="iwwem:snapshot" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="lsid" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The LSID generated by Taverna when the workflow was created]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="author" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The name of the author of the workflow (if it is available)]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="title" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The title given to the workflow by the author (if it is available)]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="path" type="xsd:anyURI" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The relative path to the workflow, respect to the local workflow repository base URL]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="svg" type="xsd:anyURI" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[The relative path to the SVG graph representation of the workflow, respect to the local workflow repository base URL]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:attribute name="time" type="xsd:dateTime">
        <xsd:annotation>
            <xsd:documentation><![CDATA[A time ticket which reports when this event has happened]]></xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="relURI" type="xsd:anyURI">
        <xsd:annotation>
            <xsd:documentation><![CDATA[A relative URI, base for linked resources]]></xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="jobId" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation><![CDATA[The enaction job ID, which must be used by subsequent operations]]></xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attributeGroup name="TimeJob">
        <xsd:annotation>
            <xsd:documentation><![CDATA[These two attributes are used together at least twice]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute ref="iwwem:time" use="required"/>
        <xsd:attribute ref="iwwem:jobId" use="required"/>
    </xsd:attributeGroup>
    
    <xsd:element name="workflowlist">
        <xsd:annotation>
            <xsd:documentation><![CDATA[A list of available workflows in the workflow repository.
workflowlister frontend module returns the information following this sub-schema.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="1">
                <xsd:element name="message" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[This is a simple message with an error value, generated by insertion or deletion processes]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string">
                                <xsd:attribute name="retval" type="xsd:integer">
                                        <xsd:annotation>
                                            <xsd:documentation><![CDATA[The error value assigned to the message]]></xsd:documentation>
                                        </xsd:annotation>
                                </xsd:attribute>
                            </xsd:extension>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="iwwem:workflow" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute ref="iwwem:time" use="required"/>
            <xsd:attribute ref="iwwem:relURI" use="required"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="enactionlaunched">
        <xsd:annotation>
            <xsd:documentation><![CDATA[This message is sent by enactionlauncher when
an enaction job has been successfully enqueued]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="1">
                <xsd:element ref="iwwem:example" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
When a input has been signaled to be saved as an example
this element is included to tell that it was done properly.
]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attributeGroup ref="iwwem:TimeJob"/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="input" type="iwwem:IORepType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[The feeded inputs]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="output" type="iwwem:IORepType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[The obtained outputs]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="enactionreport">
        <xsd:annotation>
            <xsd:documentation><![CDATA[A bunch of enaction reports]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="1">
                <xsd:element name="enactionstatus" minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[The current status of a particular enaction]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence minOccurs="1" maxOccurs="1">
                            <xsd:choice minOccurs="0" maxOccurs="1">
                                <xsd:element name="enactionReport" minOccurs="1" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation><![CDATA[The XML report given by the enactor]]></xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType mixed="true">
                                        <xsd:sequence minOccurs="1" maxOccurs="1">
                                            <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##other" />
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="enactionReportError" type="xsd:string" minOccurs="1" maxOccurs="1">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            <![CDATA[This element only appears when a parsing error on enactionReport happens]]>
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:choice>
                            <xsd:element ref="iwwem:snapshot" minOccurs="0" maxOccurs="1"/>
                            <xsd:element ref="iwwem:input" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element ref="iwwem:output" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="step" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation><![CDATA[The step]]></xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:complexContent>
                                        <xsd:extension base="iwwem:IORepType">
                                            <xsd:sequence minOccurs="1" maxOccurs="1">
                                                <xsd:element name="extraStepInfo" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                        <xsd:documentation><![CDATA[Extra step information, provided by Taverna]]></xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:sequence minOccurs="1" maxOccurs="1">
                                                            <xsd:element name="stepError" minOccurs="0" maxOccurs="unbounded">
                                                                <xsd:annotation>
                                                                    <xsd:documentation><![CDATA[Detailed step error report]]></xsd:documentation>
                                                                </xsd:annotation>
                                                                <xsd:complexType>
                                                                    <xsd:simpleContent>
                                                                        <xsd:extension base="xsd:string">
                                                                            <xsd:attribute name="header" type="xsd:string" use="required"/>
                                                                        </xsd:extension>
                                                                    </xsd:simpleContent>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                        <xsd:attribute name="sched" type="xsd:dateTime" use="required">
                                                            <xsd:annotation>
                                                                <xsd:documentation><![CDATA[When the step was scheduled]]></xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="start" type="xsd:dateTime" use="optional">
                                                            <xsd:annotation>
                                                                <xsd:documentation><![CDATA[When the step started to run]]></xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="stop" type="xsd:dateTime" use="optional">
                                                            <xsd:annotation>
                                                                <xsd:documentation><![CDATA[When the step stopped, either by an error or successfully]]></xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="iterNumber">
                                                            <xsd:annotation>
                                                                <xsd:documentation><![CDATA[Current iteration number]]></xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="iterMax">
                                                            <xsd:annotation>
                                                                <xsd:documentation><![CDATA[Max iteration number]]></xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:attribute>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element ref="iwwem:input" minOccurs="0" maxOccurs="unbounded"/>
                                                <xsd:element ref="iwwem:output" minOccurs="0" maxOccurs="unbounded"/>
                                                <xsd:element name="iterations" minOccurs="0" maxOccurs="1">
                                                    <xsd:complexType>
                                                        <xsd:sequence minOccurs="1" maxOccurs="1">
                                                            <xsd:element name="step" minOccurs="1" maxOccurs="unbounded">
                                                                <xsd:complexType>
                                                                    <xsd:complexContent>
                                                                        <xsd:extension base="iwwem:IORepType">
                                                                            <xsd:sequence minOccurs="1" maxOccurs="1">
                                                                                <xsd:element ref="iwwem:input" minOccurs="0" maxOccurs="unbounded"/>
                                                                                <xsd:element ref="iwwem:output" minOccurs="0" maxOccurs="unbounded"/>
                                                                            </xsd:sequence>
                                                                        </xsd:extension>
                                                                    </xsd:complexContent>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                            <xsd:attribute name="state" type="iwwem:EnactionStepStatusType">
                                                <xsd:annotation>
                                                    <xsd:documentation><![CDATA[The state of this enaction step]]></xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:attribute>
                                        </xsd:extension>
                                    </xsd:complexContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attributeGroup ref="iwwem:TimeJob"/>
                        <xsd:attribute name="state" type="iwwem:EnactionStatusType" use="required">
                            <xsd:annotation>
                                <xsd:documentation><![CDATA[The state of the enaction]]></xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute ref="iwwem:relURI" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>